body {
  min-width: 100vw;
  min-height: 100vh;
  background: #292728;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
}

.App {
  overflow: hidden;  
} 